PUBLIC_HOST=<API public Host here>
PORT=<API Port here>

DB_USER=<Database user name here>
DB_PASSWORD=<Database password here>
DB_HOST=<Database host address here>
DB_PORT=<Database port here>
DB_NAME=<Database name here>
